<div class="slide-box">
  <div class="d-block w-100 h-690">
  </div>
  <div class="slide-area">
    <div class="w-100">
      <div class="">
        <ngb-carousel class="w-100 slide-hei" #carousel [interval]="5000" [pauseOnHover]="pauseOnHover"
          [pauseOnFocus]="pauseOnFocus" (slide)="onSlide($event)">
          <ng-template ngbSlide *ngFor="let img of images; index as i">
            <!-- <a>
              <div class="picsum-img-wrapper">
                <img [src]="img" class="w-100 slide-hei" alt="My image {{ i + 1 }} description" />
              </div>
            </a> -->
            <div class="wrapper">
              <img class="w-100 slide-hei" [src]="img" alt="Random first slide">
            </div>
            <div class="carousel-caption">
              <h3 class="title">Join us for Miles of memories</h3>
              <div class="description">
                <p>
                  Migo Planner’s unique features let you 
                  plan your upcoming trip with ease 
                  and share the fun with friends.
                </p>
              </div>
              <div class="btn-area">
                <button class="btn-letgo">
                  <i class="fa fa-calendar"></i>
                  Let's go!
                </button>
                <button class="btn-download">Download</button>
              </div>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div>
</div>
<div class="destination">
  <div class="title">
    <div class="title-left">
      <h2>Popular destinations</h2>
    </div>
    <div class="title-right">
      <i class="fa fa-calendar"></i>
      <span>April</span>
    </div>
  </div>
  <div class="content">
    <div class="row content-box scrollbar" id="style-2">
      <div class="col-xl-4 content-item">
        <img src="/assets/image/home/des1.png" alt="">
      </div>
      <div class="col-xl-4 content-item">
        <img src="/assets/image/home/des2.png" alt="">
      </div>
      <div class="col-xl-4 content-item">
        <img src="/assets/image/home/des3.png" alt="">
      </div>
      <div class="col-xl-4 content-item">
        <img src="/assets/image/home/des1.png" alt="">
      </div>
    </div>
  </div>
</div>
<div class="stories">
  <div class="title">
    <span>Stories by topics</span>
  </div>
  <div class="content">
    <div class="row menu-bar">
      <div class="col menu-item" *ngFor="let item of menus" [ngClass]="item.isActive?'yellow-active':''">
        <div class="menu-icon">
          <img [src]="item.image" alt="">
        </div>
        <div class="menu-text" [ngStyle]="{'width':item.width}">
          {{item.title}}
        </div>
      </div>
    </div>
    <div class="content-intro">
      <div class="row">
        <div class="col-lg-7 left">
          <img src="/assets/image/home/intro1.png" alt="">
        </div>
        <div class="col-lg-5 right">
          <div class="intro-location">
            <i class="fas fa-map-marker-alt"></i>
            <span>Phú Quốc, Việt Nam</span>
          </div>
          <div class="intro-title">
            Beautiful beach at Sunrise Resort, in Hoi An, Quang Nam
          </div>
          <div class="intro-text">
            Located in an open space with clouds, sky,
            and sea, the special highlight of the resort
            is the architectural style combining the
            three countries of Japan, France and Vietnam.
          </div>
        </div>
      </div>
    </div>
    <div class="content-grid">
      <div class="row">
        <div class="col-lg-4 card" *ngFor="let item of intros">
          <img class="card-img-top" [src]="item.image" alt="Card image cap">
          <div class="card-body">
            <div class="location-title">
              <i class="fas fa-map-marker-alt"></i>
              <span>{{item.location}}</span>
            </div>
            <span class="card-title">{{item.title}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="trip-plan">
  <div class="title">
    <span>Plan your trip</span>
  </div>
  <div class="content">
    <div class="description">
      Plan and save your travel experiences.
      Get your trip ready before you hit the road!
    </div>
    <div class="img-area">
      <img src="/assets/image/home/planning.png" alt="">
    </div>
    <div class="planing">
      <div class="btn-planing">
        <i class="fa fa-calendar"></i>
        Start planning
      </div>
    </div>
  </div>
</div>

<div class="about-us">
  <div class="row">
    <div class="col-lg-4">
      <div class="title">Traveler nói về chúng tôi</div>
    </div>
    <div class="col-lg-4 description">
      <div class="description-text">
        <div class="quotes-icon">
          <img src="/assets/image/home/quotes.png" alt="">
        </div>
        <p>
          I really like how user
          friendly it is and the auto-save.
          I also enjoy being able to look at trips that others
          have planned for inspiration.
          <span class="author">
            <img src="/assets/image/home/aboutus.png" alt="">
            Gian Cescon
          </span>
        </p>
      </div>
    </div>
    <div class="col-lg-4 traveler-img">
      <img src="/assets/image/home/aboutus.png" alt="">
    </div>
  </div>
</div>

<div class="trending_event">
  <div class="trending_event-title">
    <div class="main-title">
      <span>
        Trending events
      </span>
    </div>
    <div class="see-more">
      <span>
        See more
      </span>
      <img src="/assets/image/home/left-arrow.svg" alt="">
    </div>
  </div>
  <div class="row">
    <div class="month-bar">
      <div class="month-list">
        <div class="month-item active">April</div>
        <div class="month-item">May</div>
        <div class="month-item">June</div>
        <div class="month-item">July</div>
      </div>
      <div class="month-line">
        <img src="/assets/image/home/monthline.png" alt="">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="event">
      <div class="event-item" *ngFor="let event of events">
        <img [src]="event.eventImage" alt="">
        <div class="title">
          {{event.eventName}}
        </div>
        <div class="time">
          <i class="fa fa-clock"></i>
          <span>{{event.eventStart | date:'shortDate'}} - {{event.eventEnd | date:'shortDate'}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="tour">
  <div class="tour-title">
    <span>Popular tour package</span>
  </div>
  <div class="row">
    <ng-container *ngIf="tours">
      <div *ngFor="let tour of tours" class="col-lg-4" style="display: flex; justify-content: center;">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" [src]="tour.tourImage" alt="Card image cap">
          <div class="card-body">
            <div class="location-title">
              <i class="fas fa-map-marker-alt"></i>
              <span>{{tour.tourLocation}}</span>
              <i class="fa fa-angle-down response-icon" (click)="expandCardTour()">

              </i>
            </div>
            <h4 [ngClass]="isExpandCardTour?'':'display-none'" class="card-title">{{tour.tourName}}
            </h4>
            <p [ngClass]="isExpandCardTour?'':'display-none'" class="card-text">
              {{tour.tourDescription}}
            </p>
            <div [ngClass]="isExpandCardTour?'':'display-none'" class="tour-guide">
              <div class="guide-icon">
                <img [src]="tour.tourGuideImage" alt="">
              </div>
              <div class="guide-name">
                {{tour.tourGuideName}}
              </div>
            </div>
          </div>
          <div [ngClass]="isExpandCardTour?'':'display-none'" class="card-footer text-muted">
            <div class="row">
              <div class="col-6">
                From:&nbsp;
                <span> ${{tour.tourPrice}}/pax</span>
              </div>
              <div class="col-6">
                <span>{{tour.tourTime}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>