.h-500 {
    height: 500px;
}

.slide-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-top: 64px;

    .slide-area {
        height: 500px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: rgb(53 53 53 / 86%);
        position: absolute;
        left: 0;

        .w-100 {
            width: 100%;
            padding: 0;
        }
    }
}

.slide-hei {
    height: 500px;
}

.popular {
    padding: 104px 185px;

    .title {
        margin-bottom: 80px;

        .title-main {
            font-weight: 600;
            font-size: 34px;
            color: #333333;
        }

        .title-description {
            font-weight: 400;
            font-size: 20px;
            color: #323234;
        }
    }

    .content {
        display: flex;

        .left {
            margin-bottom: 30px;

            img {
                margin-bottom: 25px;
            }

            .left-title {
                font-weight: 600;
                font-size: 18px;
                color: #323234;
                margin-bottom: 12px;
            }

            .left-description {
                font-weight: 400;
                font-size: 15px;
                color: #4F4F4F;
                margin-bottom: 8px;
                width: 430px;
            }

            .left-location {
                i {
                    margin-right: 8px;
                }

                span {
                    font-weight: 500;
                    font-size: 14px;
                    color: #323234;
                }
            }
        }

        .right {
            .right-main {
                margin-bottom: 26px;

                img {}

            }

            .right-extra {
                display: flex;

                .extra-item {
                    margin-right: 30px;

                    .title {
                        max-width: 320px;
                    }
                }
            }

            img {
                border-radius: 12px;
                margin-bottom: 24px;
            }

            .title {
                margin-bottom: 8px;
                font-weight: 600;
                font-size: 18px;
                color: #333333;
            }

            .location {
                font-weight: 500;
                font-size: 14px;
                color: #323234;

                i {
                    margin-right: 8px;
                }

                span {}
            }
        }
    }
}

@media only screen and (max-width: 1280px) {
    .slide-box{
        .slide-area{
            img{
                width: auto !important;
            }
        }
    }
    .popular {
        padding: 80px 24px;

        .title {
            margin-bottom: 80px;

            .title-main {
                font-weight: 600;
                font-size: 30px;
                color: #333333;
            }

            .title-description {
                font-weight: 400;
                font-size: 18px;
                color: #323234;
            }
        }

        .content {
            display: flex;

            .left {
                margin-bottom: 30px;

                img {
                    margin-bottom: 25px;
                    width: 300px;
                }

                .left-title {
                    font-weight: 600;
                    font-size: 16px;
                    color: #323234;
                    margin-bottom: 12px;
                }

                .left-description {
                    font-weight: 400;
                    font-size: 14px;
                    color: #4F4F4F;
                    margin-bottom: 8px;
                    width: 327px;
                }

                .left-location {
                    i {
                        margin-right: 8px;
                    }

                    span {
                        font-weight: 500;
                        font-size: 12px;
                        color: #323234;
                    }
                }
            }

            .right {
                .right-main {
                    margin-bottom: 26px;

                    img {
                        width: 300px;
                    }

                }

                .right-extra {
                    display: flex;
                    flex-direction: column;

                    .extra-item {
                        margin-right: 30px;
                        margin-bottom: 32px;

                        .title {
                            max-width: 320px;
                        }
                    }
                }

                img {
                    border-radius: 12px;
                    margin-bottom: 24px;
                }

                .title {
                    margin-bottom: 8px;
                    font-weight: 600;
                    font-size: 18px;
                    color: #333333;
                }

                .location {
                    font-weight: 500;
                    font-size: 14px;
                    color: #323234;

                    i {
                        margin-right: 8px;
                    }

                    span {}
                }
            }
        }
    }
}