<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <ng-container *ngIf="userInfor | async as userInfor">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item"
        [routerLink]="['./community/community-menu']"
        [routerLinkActive]="['active']"> -->
      <li class="nav-item" 
        [routerLink]="['./community/community-menu']"
        (click)="itemActive(0)"
        [ngClass]="activeItem[0].value?'active':''">
        <a class="nav-link">Cộng đồng</a>
      </li>
      <!-- <li class="nav-item"
        [routerLink]="['./citizen/citizen-menu']"
        [routerLinkActive]="['active']"> -->
      <li class="nav-item" 
        [routerLink]="['./citizen/citizen-menu']"
        (click)="itemActive(1)"
        [ngClass]="activeItem[1].value?'active':''">
        <a class="nav-link">Dân cư</a>
      </li>
      <!-- <li class="nav-item"
        [routerLink]="['./admin-bussiness']"
        [routerLinkActive]="['active']"> -->
      <li *ngIf="userInfor.roleId==1"  
        class="nav-item" 
        [routerLink]="['./admin-bussiness']"
        (click)="itemActive(2)"
        [ngClass]="activeItem[2].value?'active':''">
        <a class="nav-link">Quản trị kinh doanh</a>
      </li>
      <!-- <li class="nav-item"
        [routerLink]="['./seller']"
        [routerLinkActive]="['active']"> -->
      <li class="nav-item" 
        [routerLink]="['./seller']"
        (click)="itemActive(3)"
        [ngClass]="activeItem[3].value?'active':''">
        <a class="nav-link">Kênh người bán</a>
      </li>
      <!-- <li class="nav-item"
        [routerLink]="['./buyer/shop-grid']"
        [routerLinkActive]="['active']"> -->
      <li class="nav-item" 
        [routerLink]="['./buyer/shop-grid']"
        (click)="itemActive(4)"
        [ngClass]="activeItem[4].value?'active':''">
        <a class="nav-link">Kênh người mua</a>
      </li>
      <li class="nav-item" (click)="logout()">
        <a class="nav-link">Đăng xuất</a>
      </li>
      <div class="nav-item user-label">
        <a class="nav-link">Xin chào {{userInfor.userName}}</a>
      </div>
    </ul>
  </ng-container>
</nav>
