.logo {
    display: flex;
    height: 64px;
    position: absolute;
    left: 36px;

    .letter-m {
        width: 35px;
        height: 24px;
        position: absolute;
        top: 17.48px;
    }

    .letter-i {
        width: 4.98px;
        height: 18.76px;
        position: absolute;
        left: 40.38px;
        top: 22.85px;
    }

    .letter-i1 {
        width: 4.91px;
        height: 4.91px;
        position: absolute;
        left: 40.38px;
        top: 15px;
    }

    .letter-g {
        width: 23.9px;
        height: 32.34px;
        position: absolute;
        left: 46.38px;
        top: 17.66px;
    }

    .letter-o {
        width: 24.03px;
        height: 24.12px;
        position: absolute;
        left: 71.38px;
        top: 17.51px;
    }
}

.head-container {
    height: 64px;
    padding: 0 !important;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;

    .logo {
        display: flex;
        height: 64px;
        position: absolute;
        left: 36px;
    }

    .search {
        display: flex;
        border-bottom: 1px solid rgba(0, 0, 0, 0.06);
        width: 600px;
        padding: 4px 10px;
        opacity: 0.96;
        margin: auto;

        span {
            width: calc(100% - 20px);
            border: none;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            display: flex;
            align-items: center;
            color: #BDBDBD;
        }

        i {
            color: #bdbdbd;
            opacity: 0.96;
        }
    }

    .head-left {
        position: absolute;
        right: 36px;
        display: flex;
        align-items: center;

        .notification {
            display: flex;
            align-items: center;

            i {
                font-size: 1.5rem !important;
            }
        }

        .user-info {
            display: flex;
            width: 200px;
            margin-left: 20px;

            .user-logo {
                width: 32px;
                height: 32px;

                img {
                    border-radius: 50%;
                }
            }

            .user-name {
                width: 155px;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                color: #000;
                line-height: 32px;
                margin-left: 8px;
            }
        }

        .menu {}
    }

}

.contact {}

.trending {}

.tour {
    padding: 120px;

    .tour-title {
        margin-bottom: 64px;

        span {
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 52px;
            color: #080D34;
        }
    }

    .card {
        text-align: left !important;
        min-width: 112px;

        .card-body {
            .location-title {
                font-weight: 500;
                font-size: 15px;
                margin-bottom: 12px;

                i {
                    margin-right: 7.5px;
                }

                span {}
            }

            .card-text {
                font-weight: 400;
                font-size: 15px;
            }

            .tour-guide {
                display: flex;

                .guide-icon {
                    margin-right: 8px;
                }

                .guide-name {
                    font-weight: 600;
                    font-size: 16px;
                }
            }
        }

        .card-footer {
            background-color: #fff !important;

            .col-6 {
                color: #bdbdbd;
            }

            span {
                color: #000;
                font-size: 16px;
                font-weight: 600;
                letter-spacing: 0.03em;
            }
        }
    }
}

.review {}

.partner {}

.footer {
    .container {
        .row {
            .description {
                position: relative;
                top: 70px;
                left: 27px;
                font-weight: 500;
                font-size: 16px;
                text-align: left;
                color: #000;
            }

            .email {
                position: relative;
                top: 90px;
                left: 26px;
                color: #CAA123;
                text-align: left;
            }

            .social {
                position: relative;
                top: 100px;
                left: 10px;
                text-align: left;

                .btn-outline {
                    display: inline-block;
                    padding: 10px 10px 10px 10px;
                    border: 0.125rem solid #CAA123;
                    border-radius: 50%;
                    background-color: transparent;
                    text-decoration: none;
                    transition: all 0.2s;
                    margin: 10px 15px;
                    height: 48px;
                    width: 48px;
                }
            }

            .title {
                font-weight: 600;
                font-size: 18px;
                padding-left: 70px;
                text-align: left;
            }
        }

        .content {
            display: flex;
            flex-direction: column;

            span {
                text-align: left;
                padding-left: 70px;
                padding-top: 16px;
            }
            .img-item{
                padding-left: 30px;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .head-container {
        .search {
            span {
                display: none;
            }
        }

        .head-left {
            display: none;
        }
    }
}