.login{
    font-family: 'Mukta', sans-serif;
    height:100vh;
    min-height:550px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    position:relative;
    overflow: auto;
}
.login-logo{
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /* background-image: url('../../../../assets/image/logo.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.login-panel{
    position: relative;
    top: 60%;
    transform: translateY(-50%);
	text-align:center;
    width:70%;
	right:0;left:0;
    margin:auto;
    height:400px;
    background-color: #2c3e50;
}
.white-panel{
    background-color: rgba(255,255, 255, 1);
    height:auto;
    position:absolute;
    top:-50px;
    width:50%;
    transition:.3s ease-in-out;
    z-index:0;
    box-shadow: 0 0 15px 9px #00000096;
    min-width: 250px;
}

.register-info-box{
    width:30%;
    padding:0 50px;
    top:20%;
    right:0;
    position:absolute;
    text-align:left;
    color: rgb(255,255,255);
    min-width: 260px;
}
.right-log{right:50px !important;}
#label-login{
    cursor: pointer;
}

.login-show, .register-show{
    z-index: 1;
    display:block;
    transition:0.3s ease-in-out;
    color:#242424;
    text-align:left;
    padding:50px;
}

.login-show input[type="text"],
.register-show input[type="text"], 
.login-show input[type="password"], 
.register-show input[type="password"]{
    width: 100%;
    display: block;
    margin:20px 0;
    padding: 15px;
    border: 1px solid #b5b5b5;
    outline: none;
}
.login-show input[type="button"], 
.register-show input[type="button"] {
    max-width: 150px;
    width: 100%;
    background: #444444;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    float:right;
    cursor:pointer;
}
.login-show input[type="button"]:hover, .register-show input[type="button"]:hover{
    background: #555555;
    color: #ffffff;
}
.login-show a, 
.register-show a{
    display:inline-block;
    padding:10px 0;
}
.regis-panel{
    height: 630px;
    top: -190px;
}
a{
  text-decoration:none;
  color:#2c3e50;
}
.anima-move{
    position: relative;
    animation:mymove 1s ease-out;
}
@keyframes mymove
{ 
    from {left:-400px; opacity: 0;}
    to {left:0px; opacity: 1}
}